---
interface TechCard {
  name: string;
  color: string;
}

export interface Props {
  tech: TechCard;
}

const { name, color } = Astro.props.tech;
---

<div
  class={`p-2 rounded-lg text-xs mr-2 mb-2`}
  style={`
    background-color: ${color}; 
    color: white;
    `}
>
  <div>
    {name}
  </div>
</div>
